.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: rgb(225, 250, 5);
&__home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
}


@media (min-width: 0px) and (max-width: 700px) {
    .container{
        font-size: 16px;
        text-align: center;
    }
}