<section class="weather">

  <div class="weather__date">
    <h2>{{ date }}</h2>
  </div>
  <div class="weather__image">
    <img [src]="iconSrc" alt="weathericon">
  </div>
  <div class="weather__title">
    <h2>{{ title }}</h2>
  </div>
  <div class="weather__subtitle">
    <h2>{{ subtitle }}</h2>
  </div>
  <div class="weather__text">
    <h2>{{ temperature }}</h2>
  </div>

  <div class="weather__temperature">
    <div class="weather__temperature-min">
      <h2>{{ min }}</h2>
    </div>
    <div class="weather__temperature-max">
      <h2>{{ max }}</h2>
    </div>
  </div>

</section>
